<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
   
    <bean class="com.dm.platform.aop.initAction"/> 
   	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
 	 <property name="configLocation">
    		<value>classpath:ehcache.xml</value>
  	</property>
	</bean>
    <bean id="myCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">     
      <property name="cacheManager">     
        	<ref local="cacheManager"/>     
      </property>     
      <property name="cacheName">     
          <value>DEFAULT_CACHE</value>     
      </property>     
    </bean>
    <bean id="tempUserCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">     
      <property name="cacheManager">     
        	<ref local="cacheManager"/>     
      </property>     
      <property name="cacheName">     
          <value>tempUserCache</value>     
      </property>     
    </bean>
    <bean id="userCache"
		class="org.springframework.security.core.userdetails.cache.EhCacheBasedUserCache">
		<property name="cache" ref="userEhCache" />
	</bean>
    
    <bean id="userEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">   
      <property name="cacheManager" ref="cacheManager" />
      <property name="cacheName" value="userCache" />
    </bean>
     
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/dm?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
		<property name="initialSize" value="5" />
		<property name="maxActive" value="1000" />
		<property name="maxIdle" value="30" />
		<property name="maxWait" value="500" />
		自动提交事务
		<property name="defaultAutoCommit" value="true" />
	</bean> -->
	<!-- 数据源配置 -->
    <!-- <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          p:testWhileIdle="true" init-method="init" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/dm2?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
        <property name="maxActive" value="1000"/>
        <property name="initialSize" value="5"/>
        <property name="maxWait" value="1000"/>
        <property name="minIdle" value="5"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="180"/>
        <property name="connectionProperties" value="config.decrypt=true"/>
    </bean> -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			 <value>jdbc:mysql://127.0.0.1:3306/topie_zcpt?useUnicode=true&amp;characterEncoding=utf-8</value><!-- 
			<value>jdbc:mysql://101.200.234.44:3306/zcpt?useUnicode=true&amp;characterEncoding=utf-8</value> -->
		</property>
		<property name="user">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
		<property name="initialPoolSize">
			<value>5</value>
		</property>
		<property name="minPoolSize">
			<value>5</value>
		</property>
		<property name="maxIdleTime">
            <value>25000</value>
        </property>
		<property name="maxPoolSize">
			<value>10000</value>
		</property>
		<property name="idleConnectionTestPeriod" value="18000"/>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
		<ref local="dataSource" />
		</property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.Oracle8iDialect</prop> -->
				<prop key="hibernate.hbm2ddl.auto">
					none
				</prop>
				<prop key="hibernate.max_fetch_depth">
					3
				</prop>
				<prop key="hibernate.show_sql">
					false
				</prop>
				<prop key="hibernate.format_sql">
					true
				</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.dm.*.model,com.app.model" />
	</bean>
	
	<context:annotation-config/>
	<!-- 使用 annotation 自动注册bean,并检查@Controller, @Service, @Repository注解已被注入 -->
	<context:component-scan base-package="com.dm.platform.aop,com.dm.*.dao,com.dm.*.service,com.app.service" />
	
	<!-- 配置事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"> 
		<property name="sessionFactory" ref="sessionFactory" />
	</bean><!-- 配置注解实现管理事务（cglib：proxy-target-class="true"） -->
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />
	<aop:aspectj-autoproxy proxy-target-class="true"/> 
	
	 <aop:config>
        <aop:pointcut expression="execution(* com.*.*.service.*.*(..))||execution(* com.app.service.SynService.*(..))||execution(* com.app.service.JkptService.*(..))"
                      id="myTx"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="myTx"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="insert*" propagation="REQUIRED" read-only="false"
                       rollback-for="Exception"/>
            <tx:method name="save*" propagation="REQUIRED" read-only="false"
                       rollback-for="Exception"/>
            <tx:method name="update*" propagation="REQUIRED" read-only="false"
                       rollback-for="Exception"/>
            <tx:method name="delete*" propagation="REQUIRED" read-only="false"
                       rollback-for="Exception"/>
            <tx:method name="list*" propagation="SUPPORTS"/>
            <tx:method name="find*" propagation="SUPPORTS"/>
            <tx:method name="get*" propagation="SUPPORTS"/>
            <tx:method name="select*" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>
	<!--axis2 配置  -->
	<bean id="applicationContext"
        class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" />
	<bean id="synInfoService" class="com.app.service.impl.SynInfoServiceImpl"></bean>
</beans>